@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;600&family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@300;400;700&display=swap');

:root{
  /* fonts */
  --font-title: 'Libre Baskerville', serif;
  --font-body: 'Montserrat', sans-serif;

  /* colors */
  --bg-black: #111216;
  --platinum: #e8e8e9;
  --btn-hover: #575963;

  --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: var(--font-body);
}
button{
  background-color: var(--bg-black);
  color: var(--platinum);
  padding: 1rem 2rem;
  border: none;
  border-radius: .7rem;
  margin: 1rem 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: var(--box-shadow);
}
button:hover{
  background-color: var(--btn-hover);
  color: var(--platinum);
}
.error{
  color:red;
}
label {
  color: var(--bg-black);
  margin-bottom: 0.5rem;
}
.form{  
  padding: 2rem;
}
@media screen and (max-width: 768px){
  .form,
  .banner,
  .wrapper{
    flex-direction: column;
    padding:0;
    width:100%;
  }
  .input-field,
  .data-field,
  button{
    width:100%;
  }
  
}