.banner{
  background-color: var(--bg-black);
  color: var(--platinum);
  height: 100%;
  padding: 2rem;
}
.banner h1{
  font-family: var(--font-title);
  margin-bottom: .5rem;
}
.banner p{
  font-weight: 300;
}